.git
.github
.gitignore
.dockerignore
README.md
LICENSE
AGENTS.md
CODE_OF_CONDUCT.md
.editorconfig
.vscode
.idea
.checkov.yaml
.trivyignore
.yamllint.yml
pyproject.toml
requirements.in
*.md
!entrypoint.sh
!Dockerfile
!requirements.txt
